@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Roboto);

@font-face {
    font-family: UniversityRoman;
    src: url(../fonts/UniversityRomanLetPlain.woff) format('woff'),
    url(../fonts/UniversityRomanLetPlain.eot),
    url(../fonts/UniversityRomanLetPlain.otf);
}

.checkbox {
    color: #2d2d2d;
    font-size: 14px;
}

.modal-content {
  border-radius: 2px;
}

.wrapper {
    width: 95%;
    margin: 3em auto;
}

.masonry {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
}

.item {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}

html,
body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
    background-color: #eee;
    color: #2d2d2d;
    webkit-tap-highlight-color: #2d2d2d;
}

.text-justify {
  text-align: justify;
}

hr {
    border-width: 3px;
    opacity: 0.2;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr.dark {
    border-color: #000;
    opacity: 0.3;
}

.floaty-button {
  position: fixed;
  z-index: 9999999;
  bottom: 0;
  right: 0;
}

.best-value {
  color: #2196F3;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #bbb;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 2px;
  background: #fff;
}
@media (min-width: 1200px){
  .con-about {
      width: 85%;
  }
}
.first-word {
  font-size: 24px;
  font-variant: small-caps;
  font-weight: bold;
  line-height: 0.4;
}
.family {
  font-size: 26px;
  font-variant: small-caps;
  font-weight: bold;
  line-height: 0.6;
  color: #2196F3;
}
.card.concert {
  margin: 0 auto;
}
.container.important-dates {
  width: 100%;
}
.row.headings {
  background: #2196F3;
  color: #fff;
  padding: 3px;
}
.row.dates {
  padding: 3px;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}
.row.month {
  padding-top: 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
h3 {
  color: #2196F3;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}

.community {
  max-width: 250px !important;
  margin: 0 auto !important;
}

h4 {
  color: #2196F3;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
}

h4.cursive {
  color: #fff !important;
  font-weight: normal;
}

a {
    color: #2196F3;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #2196F3s;
    outline: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
}

p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 10px;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.icon-quote {
    font-size: 35px;
    line-height: 18px;
}

.bg-dark {
    color: #eee;
    background-color: #2d2d2d;
}

.bg-blue {
    color: #eee;
    background-color: #2196F3;
}

.cursive {
    font-family: 'Pacifico', cursive;
    text-transform: none;
}

.text-faded {
    color: rgba(255,255,255,1);
}

.text-dark {
    color: #111;
}

.footer-link {
  color: #111;
}

.footer-link:hover {
  color: #fff;
  text-decoration: none;
}

.text-primary {
    color: #2196F3;
    font-family: 'Pacifico', cursive;
    font-size:40px;
}

.text-blue {
    color: #2196F3;
}

.enrol-form-header {
    color: #2196F3;
    font-weight: bold;
    font-size: 16px;
}

.modal-content {
    background-color: #f7f7f7;
    color: #2d2d2d;
}

section {
    padding: 70px 0;
}

aside {
    padding: 50px 0;
}


footer {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(35,35,35,.05);
    font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
    background-color: #2196F3;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.navbar-header > .navbar-brand {
    font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
    color: #f7f7f7;
    padding: 15px;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
}

.els-font{
    font-family: 'UniversityRoman','Helvetica Neue',Arial,sans-serif;
    font-size: 24px;
}

.els-font-title{
    font-family: 'UniversityRoman','Helvetica Neue',Arial,sans-serif;
    font-size: 100px;
    margin: 0;
    line-height: 60%;
}

.header-h2{
    margin: 0;
    line-height: 90%;
}

.navbar-header > .navbar-brand:hover,
.navbar-header > .navbar-brand:focus {
    color: #2d2d2d;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #eee;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 20sp;
    font-weight: 700;
    color: #eee;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #2d2d2d;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #2d2d2d !important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover
{
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #2d2d2d;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: transparent;
        background-color: transparent;
        min-height: 60px;
    }

    .navbar-header > .navbar-brand {
        color: #2196F3;
        padding: 19px;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f4f4f4;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #2196F3;
        padding: 20px;
        letter-spacing: 1.1px;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fefefe;
    }

    .logo-svg {
      margin-top: 200px;
      max-width: 300px;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #2196F3;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 20px;
        color: #f7f7f7;
        padding: 20px;
        letter-spacing: 1px;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #2d2d2d;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #ddd;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #2d2d2d;
    }
}
.btn:focus {
  color: #fff;
}
.fee-table {
  padding: 10px;
}
.fee-label {
  padding: 10px;
  font-weight: bold;
  border: 1px solid #ddd;
  background: #fff;
  height: 54px;
}
.fee-item {
  height: 54px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
}

header {
    position: relative;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
}
header video {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
#headerVideo.collapsing {
  display:none
}
header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #2196F3;
    width: 100%;
    background-color: #c9c9c9;
    background-image: url('../img/els-dance-header_2.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.details {
  font-size: 14px;
}

.contact-letter {
  color: #2196F3;
  font-weight: bold;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: right;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
}

footer {
    background-color:#2196F3;
}

@media(max-width:1337px) {

    .header-title {
        display:none;
    }

    header {
        min-height: 60%;
    }

}

@media(min-width:768px) {
    .icon-lg {
        font-size: 80px;
    }

    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 10%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }

    section {
        min-height: 950px;
        padding: 70px 0;
    }

    .aside-contact {
    min-height: 700px;
    padding: 70px 0;
}

}
.toddler-ballet {
  background: #F48FB1 !important;
}
.toddler-mtm {
  background: #E6EE9C !important;
}
.preschool-ballet {
  background: #CE93D8 !important;
}
.preschool-hiphop {
  background: #9FA8DA !important;
}
.preschool-mt {
  background: #80DEEA !important;
}
.preschool-jazz {
  background: #C5E1A5 !important;
}
.beginner-ballet {
  background: #B39DDB !important;
}
.junior-ballet {
  background: #A5D6A7 !important;
}
.junior-contemporary {
  background: #FFCC80 !important;
}
.beginner-hiphop {
  background: #BCAAA4 !important;
}
.junior-hiphop {
  background: #FFAB91 !important;
}
.beginner-jazz {
  background: #EEEEEE !important;
}
.junior-jazz {
  background: #FFE082 !important;
}
.intermediate-hiphop {
  background: #69F0AE !important;
}
.intermediate-jazz {
  background: #FFAB40 !important;
}
.intermediate-contemporary {
  background: #18FFFF !important;
}
.intermediate-ballet {
  background: #7C4DFF !important;
}
.adults-ballet {
  background: #E040FB !important;
}
.junior-cheerleading {
  background: #FF4081 !important;
}
.junior-musicaltheatre {
  background: #448AFF !important;
}

@media (max-width: 550px) {
  .table-expanded {
    z-index: 999999;
    overflow: scroll;
  }
  .table-expanded .billing-table {
    width: 1200px;
  }
}
.timetable-box {
  padding: 5px 25px;
}
.timetable-heading {
  border: 1px solid #E0E0E0;
  background-color:#2196F3;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}
.timetable-item {
  border: 1px solid #E0E0E0;
  background-color:#ffffff;
  color: #2b2b2b;
  padding: 10px;
  text-align: center;
  font-size: 10px;
}
.class-heading {
  display: block;
  font-weight: bold;
  font-size: 14px;
}
.class-time {
  display: block;
  margin-bottom: 15px;
}
.class-teacher {
  display: block;
  font-size: 14px;
}
.card {
    position: relative;
    margin: 10px 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.card-total {
    max-width: 100%;
}

.card-title {
  font-size: 24px;
  font-family: 'Pacifico', cursive;
}
.card-action .btn {
  width: 100%;
}
.class-card-body {
  font: 95% Arial, Helvetica, sans-serif;
  padding: 16px;
  background: #f9ffff;
  border: 1px solid #E0E0E0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

@media(max-width: 450px) {
  .teacher {
    font-size: 11px;
  }
}
@media(min-width: 451px) {
  .teacher {
    font-size: 14px;
  }
}

.teacher {
  margin-bottom: 5px;
  font-size: 11px;
}

.card.horizontal .card-stacked .card-content {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.card-hr {
  border: 1px solid #2196F3;
  opacity: 1;
  margin: 2px;
}

.card .card-content {
    padding: 12px;
    border-radius: 0 0 2px 2px;
}

.card .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 12px;
}

.card.horizontal .card-stacked {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

.card.horizontal {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.card.horizontal .card-image {
    max-width: 50%;
}

.card .card-image {
    position: relative;
}

.class-card-heading {
  display: block;
  background: #2196F3;
  color: #F7F7F7;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
}

footer .contact-form {
  margin: 0;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1;
    color: #eee;
    text-align: center;
    background-color: #2196F3;
    border: 1px solid #2196F3;
    border-radius: 2px;
    font-weight: lighter;
}
.interactive-cursor {
  cursor: pointer;
}

.contact-form{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: 10px auto;
    padding: 16px;
    background: #f9ffff;
    border: 1px solid #E0E0E0;
}
.num {
  width: 18px;
  text-align: center;
  display: inline-block;
}
.bigger-form{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 700px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
    border: 1px solid #E0E0E0;
}
.order-form {
  font-size: 14px;
}
.order-form i {
  font-size: 20px;
}
.has-addon {
  margin-bottom: 0 !important;
}
.contact-form input[type="text"],
.contact-form input[type="password"],
.contact-form input[type="date"],
.contact-form input[type="datetime"],
.contact-form input[type="email"],
.contact-form input[type="number"],
.contact-form input[type="search"],
.contact-form input[type="time"],
.contact-form input[type="url"],
.contact-form textarea,
.contact-form select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.contact-form input[type="text"]:focus,
.contact-form input[type="date"]:focus,
.contact-form input[type="datetime"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="number"]:focus,
.contact-form input[type="search"]:focus,
.contact-form input[type="time"]:focus,
.contact-form input[type="url"]:focus,
.contact-form textarea:focus,
.contact-form select:focus
{
    box-shadow: 0 0 5px #2196F3;
    padding: 3%;
    border: 1px solid #2196F3;
}

.contact-form input[type="submit"],
.contact-form input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #2196F3;
    border-bottom: 2px solid #1976D2;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}
.contact-form input[type="submit"]:hover,
.contact-form input[type="button"]:hover{
    background: #2196F3;
}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #2d2d2d;
    background-color: #eee;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #eee;
    background-color: #2d2d2d;
    box-shadow: none;
}

textarea {
    resize: none;
}

.margin-top-0 {
    margin-top: 0;
}

.feature {
    margin: 50px auto 0;
    max-width: 400px;
}

.feature-about {
    margin: 0 auto 0;
    max-width: 600px;
}

.feature-uniform {
    margin: 10px auto 0;
    max-width: 550px;
}

@media(min-width:992px) {
    .feature {
        margin: 20px auto 0;
    }
}

.feature p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}
.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #2d2d2d;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-lightbg {
    border-color: #424242;
    color: #eee;
    background-color: #424242;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-lightbg:hover {
    border-color: #616161;
    color: #eee;
    background-color: #616161;
}

.btn-blue {
    border-color: #2196F3;
    max-width: 80%;
    white-space: normal;
    color: #eee;
    background-color: #2196F3;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-blue:hover {
    border-color: #42A5F5;
    color: #eee;
    background-color: #42A5F5;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    background-color: #f2f2f2;
    opacity: 0.7;
}

.btn.btn-primary {
    background-color: transparent;
    border:1px solid #f0f0f0;
    border-color:#f0f0f0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  text-decoration: none;
  color: #fff;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  outline: 0;
}

.btn:hover {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

@media(max-width:768px){
.btn-enrol{
    display: none;
}

.social-img{
    display: none;
}
}

@media(min-width:768px){
.btn-enrol{
    position: fixed; bottom: 0px; right: 15px;
    border-radius: 30px 30px 1px 1px;
    z-index: 9999;
}

.social-img{
  z-index: 9999;
    position: fixed; top: 30%; left: 0px;
}
}

.social{
    color: #F7F7F7;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #2d2d2d;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #2d2d2d;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}


/*************************

CUSTOM WIDTH FOR THE NAV BAR TO COLLAPSE BECAUSE THERE ARE SO MANY LINKS

*************************/

@media (max-width: 1146px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}


/*************************

OVERRIDE THE MAX-HEIGH ON NAVBAR COLLAPSE SO THE BACKGROUND CONTINUES ALL THE WAY DOWN

*************************/

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: none;
}



.order-photo-box {
    display: block;
    position: relative;
    margin: 10px auto;
    max-width: 650px;
    overflow:hidden;
}

.order-photo-box .order-photo-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(44,44,44,.8);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.text-muted {
  font-size: 14px;
}
.order-photo-box .order-photo-box-caption .order-photo-box-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}
.order-photo-box-selected .order-photo-box-caption {
    opacity: 0.9;
}
.order-photo-box-selected img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.order-photo-box img {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.thumb {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumb img.portrait {
  width: 100%;
  height: auto;
}
.thumb img.landscape {
  width: 100%;
}
@media (max-width: 320px) {
  .thumb img.landscape {
    height: 125px;
  }
  .thumb {
    height: 125px;
  }
}
@media (min-width: 321px) and (max-width: 870px){
  .thumb img.landscape {
    height: 150px;
  }
  .thumb {
    height: 150px;
  }
}
@media (min-width: 871px) and (max-width: 1800px){
  .thumb img.landscape {
    height: 200px;
  }
  .thumb {
    height: 200px;
  }
}
@media (min-width: 1801px) {
  .thumb img.landscape {
    height: 250px;
  }
  .thumb {
    height: 250px;
  }
}
.gallery-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    overflow:hidden;
}
.gallery-box .gallery-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(44,44,44,.8);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.gallery-box .gallery-box-caption .gallery-box-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.gallery-box:hover .gallery-box-caption {
    opacity: 1;
}

.gallery-box img {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
